services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: my_db
      MYSQL_USER: user123       
      MYSQL_PASSWORD: password123
      MYSQL_ROOT_PASSWORD: root_12345678
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8888
    volumes:
      - .:/app
    ports:
      - "8888:8888"
    environment:
      - DB_NAME=my_db
      - DB_USER=user123
      - DB_PASS=password123
      - DB_HOST=db
    depends_on:
      - db

volumes:
  mysql_data: